# Ignored files

# CMake
cmake-build-debug

# Files for testing
foo*.cpp
bar*.cpp
t-*.cpp

# Object and precompiled files
*.[a|o]

# Executables
*.out
*.exe

# Test directory
test/*.o

# Vscode 
*.vscode/*
build/
data/
