# Ignored files

# Files used to test the implementations
test.cpp

# Tests directory
tests/*.[o|a]
tests/*compile*
tests/*.sh

# Object and precompiled files
*.[a|o]
test-*.cpp
test-*.cc

# Executables
*.out
*.exe
t-*
test-*

# Vscode 
*.vscode/*
build/
