# Ignored files

# CMake
cmake-build-debug

# Files for testing
foo*.cpp
bar*.cpp
t-*.cpp

# Object and precompiled files
*.[a|o]

# Executables
*.out
*.exe

# Auxiliar directories
build/
data/

# Files in test directory
test/*.o

# VSCode
*.vscode/*

# CLion
.idea/
*/.idea/